[Desktop Entry]
Encoding=UTF-8
Name=Folding at Home
Exec=usr/bin/FAHClient -v --chdir $SNAP_USER_COMMON
StartupNotify=false
Terminal=false
Type=Application
Categories=Science;Biology;Education;;
Comment=Folding@Home autostart
Icon=${SNAP}/meta/gui/FAHControl.png
